<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vlap</title>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css" />
</head>
<body class="site">
  <header>
    <div class="brand">
      <div class="brand--logoContainer">
        <svg width="36px" height="77px" viewBox="0 0 36 77" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <!-- Generator: Sketch 50 (54983) - http://www.bohemiancoding.com/sketch -->
            <title>Group</title>
            <desc>Created with Sketch.</desc>
            <defs></defs>
            <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Mobile-Portrait" transform="translate(-170.000000, -84.000000)">
                    <g id="Group" transform="translate(170.000000, 84.000000)">
                        <polygon id="Triangle1" fill="#F41C88" transform="translate(18.000000, 47.800000) rotate(180.000000) translate(-18.000000, -47.800000) " points="18 19 36 76.6 0 76.6"></polygon>
                        <polygon id="Triangle2" fill="#E9E5E4" transform="translate(17.960000, 32.880000) rotate(180.000000) translate(-17.960000, -32.880000) " points="17.96 12 30.92 53.76 5 53.76"></polygon>
                        <polygon id="Triangle3" fill="#2FDDF1" transform="translate(17.800000, 18.000000) rotate(180.000000) translate(-17.800000, -18.000000) " points="17.8 0 28.6 36 7 36"></polygon>
                    </g>
                </g>
            </g>
        </svg>
      </div>
      <div class="brand--nameContainer">
        <h1 class="brand--name" >Vlap</h1>
      </div>
    </div>
    <nav class="nav">
      <a href="#" class="nav__title">menu</a>
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__itemLink current" href="">Login</a></li>
        <li class="nav__item"><a class="nav__item__text" href="">Sign Up</a></li>
        <li class="nav__item"><a class="nav__item__text" href="">Logout</a></li>
      </ul>
    </nav>
  </header>

  <div class="container">
